---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => !data.draft);
posts.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<Layout title="Blog" description="Danh sách bài viết">
	<h1>Blog</h1>
	<ul class="post-list">
		{
			posts.map((post) => (
				<li>
					<a href={`/blog/${post.id}`}>{post.data.title}</a>
					<p class="meta">
						{post.data.publishDate.toLocaleDateString('vi-VN')}
						{post.data.summary ? ` · ${post.data.summary}` : ''}
					</p>
				</li>
			))
		}
	</ul>
</Layout>
